@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #fafafa;
  /* Neutral 50 */
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  @apply bg-neutral-950 text-neutral-50 antialiased;
  font-family: var(--font-sans), sans-serif;
  background-color: #000000;
  color: #fafafa;
}